In [21]:
import pandas as pd

In [22]:
op=pd.read_csv("C:\\Users\\HARIHARAPRASAD R\\OneDrive\\All-Time-Best-Batsman.csv")

In [23]:
#op1=op.fillna("wwww")
op1=op.fillna(method='ffill')#forward fill
op1=op.fillna(method='bfill')#backward fill
op1=op.fillna(op['100'].mean())#fillng the mean of the column
op1["gender"]=0
op1['gender'].fillna(op1['100'].mean(),inplace=True)

In [24]:
#interpolite machanism basicly works column data type is on number
#interpolite will linear form by keeping current data and linear data
op_interolate=op.interpolate(method='linear')#interpolaiting missed_values with the above and belove data
op_interolate

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,0,234
1,2,Shikhar Dhawan,PKBS,217,216,29,6617,106*,35.39,5203,127.18,2,50,750,148
2,3,David Warner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,Rohit Sharma,MI,243,238,28,6211,109*,29.58,4776,130.05,1,42,554,257
4,5,Suresh Raina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,131,Gurkeerat Mann Singh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11
131,132,Sai Sudharsan,GT,13,13,2,507,96,46.09,370,137.03,0,4,47,15
132,133,Owais Shah,RR,23,22,7,506,76,33.73,389,130.08,0,4,34,23
133,134,Paul Valthaty,PBKS,23,23,1,505,120,22.95,418,120.81,1,2,61,20
134,135,Sam Billings,KKR,30,27,1,503,56,19.35,388,129.64,0,3,40,20

In [ ]:
#outliers
#1 diffrent values not normal
#2 skew data distribution